/* grid */
.container {
	max-width: 1200px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

/* typography */
* {
	font-family: 'Source Sans Pro', sans-serif;
	box-sizing: border-box;
}
body {
	color: #506a85;
	font-family: 'Lato', sans-serif;
}
a {
	text-decoration: none;
	color: #506a85;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    background-color: #00bc9c;
}
.header_bottom.sticky {
	width: 100%;
    z-index: 999;
    background-color: #fff;
    padding:  0;
    height: 52px;
    .logo {
    	img {
    		height: 20px;
    	}
    }
    nav {
    	.menu {
    		margin: 0 auto;
    	}
    }
}